<!-- IsaacWuton -Jeffrey Wu and Isaac Jon 
SoftDev1 pd6
K15 - Oh yes, perhaps I do... 
2018-10-02
-->
{% extends 'base.html' %}


{% block content %}
    {% with messages = get_flashed_messages() %}
	  {% if messages %}
	    {% for message in messages %}
                {{message}} <br>
	    {% endfor %}
	  {% endif %}
	{% endwith %}
	
    <form action="/auth">
		username: <input type="text" name="username"><br>
		password: <input type="password" name="password"><br>
		<input type="submit" value="Submit">
    </form>
{% endblock %}
